<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Great! Tokimons are added!</p>
      <form class="" action="/tokimon" method="get"><input type="submit" name="" value="Go Back"></form>
  </body>
</html>
