<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.id %> - <%= r.name %></li>
    <% }); %>
</ul>

</div>

    <a href="https://pure-lake-96812.herokuapp.com"><button id="Home2">Home</button></a>
    <a href="https://pure-lake-96812.herokuapp.com/index"><button id="Mod1">Update Info</button></a>
</body>
</html>
