<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="myCss.css">
    <title>Modification</title>
</head>
<body>
  <% include ../partials/nav.ejs %>

  <h2 id="D"> Delete A Tokimon</h2>
  
  
  <div id="Deleteid"> 
    <form action="/dele" method="post"> 
  <input type="text" id="id" name="id" placeholder="ID" style="background-color: burlywood; color:rgb(0, 68, 68)" required /> 
  <input type="submit" value="Submit" style="position: relative; left: 300px;background-color: burlywood; color:rgb(0, 68, 68)" >
    </form>
</div> 


  <h1>Tokimon Data Collection</h1>
    <form name='myform' method='POST' action='/create'>
      <div class="content">
        <div id="side">
          <div id="origin" >
            <label for="name">Tokimon Name: </label><input id="name" type="text" /><br /><br />
            <label for="trainer">Trainer: </label><input id="trainer" type="text" /><br /><br />
            <label for="weight">Weight: </label><input id="weight" type="text" /><br /><br />
            <label for="height">Height: </label><input id="height" type="number" /><br /><br />
            <label for="fly">Fly: </label><input id="fly" type="text" /><br /><br />
            <label for="fight">Fight: </label><input id="fight" type="text" /><br /><br />
            <label for="fire">Fire: </label><input id="fire" type="text" /><br /><br />
            <label for="water">Water: </label><input id="water" type="text" /><br /><br />
            <label for="electric">Electric: </label><input id="electric" type="text" /><br /><br />
            <label for="ice">Ice: </label><input id="ice" type="text" /><br /><br />
            <label for="total">Total: </label><input id="total" type="text" /><br /><br />
            <!-- <div id="em">
              <label for="email">Email(s): </label>
              <input id="email" type="text" />
              <button onclick="addEmails(this)" type="button"> + </button>
            </div> -->
          </div>
          <div id="header" >
            <label for="name">Tokimon Name: </label><input id="name" type="text" /><br /><br />
            <label for="trainer">Trainer: </label><input id="trainer" type="text" /><br /><br />
            <label for="weight">Weight: </label><input id="weight" type="text" /><br /><br />
            <label for="height">Height: </label><input id="height" type="number" /><br /><br />
            <label for="fly">Fly: </label><input id="fly" type="text" /><br /><br />
            <label for="fight">Fight: </label><input id="fight" type="text" /><br /><br />
            <label for="fire">Fire: </label><input id="fire" type="text" /><br /><br />
            <label for="water">Water: </label><input id="water" type="text" /><br /><br />
            <label for="electric">Electric: </label><input id="electric" type="text" /><br /><br />
            <label for="ice">Ice: </label><input id="ice" type="text" /><br /><br />
            <label for="total">Total: </label><input id="total" type="text" /><br /><br />
            </div>
          </div>
        </div>
        <br/>
        <div class="side">
          <input type="button" onclick="addUsers();" value="Add More" />
          <input type="submit" value="Submit" />
        </div>
    </form>
  <script src="myServer.js"></script>
  <a href="https://pure-lake-96812.herokuapp.com/"><button id="Home1">Home</button></a>
  <a href="https://pure-lake-96812.herokuapp.com/db"><button id="info1">Tokimon Info</button></a>
 

</body>

</html>