* {
	padding: 0;
	margin: 0;
}

body {
	margin: 35px 25px;
}

.weight {
	width: 50%;
	height: 30px;
}

.divisor {
	width: 60%;
	height: 30px;
	margin-bottom: 5px;
}

.dividend {
	width: 60%;
	height: 30px;
}

#content_1 {
	margin-top: 10px;
	width: 50%;
	background: #D1EEEE;
	padding: 20px 10px;
}

#content_1 #p_1 {
	color: #CD2626;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 15px;
}

#content_1 #p_2 {
	margin-bottom: 15px;
}

#content_1 table tr:first-child {
	background: #C9C9C9;
	text-align: left;
}

#content_1 table th {
	padding-left: 5px;
}

#content_1 table td {
	width: 20%;
	height: 45px;
	padding-bottom: 3px;
	padding-top: 3px;
	padding-left: 5px;
}

#p_3,
#p_4 {
	margin-top: 20px;
	color: #CD2626;
	font-size: 20px;
	font-weight: 700;
}

#buttons {
	margin-top: 10px;
	padding-left: 70%;
}

#buttons button {
	border: 0px;
	color: white;
	background: #CD2626;
	padding: 5px 15px;
}


/*h1{
  text-indent: 2em;
	font-family: "Helvetica";
}

p1 {color: red;}
p2 {color: red;}*/


/* h3 {

	color:  	#BA2030;


}

h1{
	font-family: "Helvetica";
}



div.lowerbounds {

	position: relative;

	border: 1px solid #a5d8e5;
	background-color: #E9F1F3;

	padding: 20px;
	margin: 20px;
	float: left;

	height: 600px;
	width: 300px;
}

div.histogram{


	position: relative;


	border: 1px solid #a5d8e5;
	background-color: #E9F1F3;

	padding: 20px;
	margin: 20px;
	float: left;

	height: 400px;
	width: 200px;

}

div.output{
	padding: 20px;
}

th {

	text-align: left;
}

th.text1 {
	padding: 10px;
}

input{
	width: 60px;
	height: 20px;
	border: 1px solid #e5e5e5;
} */